<h2>"Check your items in cart, please"</h2>

<div class="row">
	
		<div class="col-md-2">
			<% @products.each do |p| %>
            	<div>Pizza type: <%= p.title%> </div>
            <% end %>
        </div>
        <div class="col-md-2">
        	<% @products.each do |p| %>
            	<div>price per 1: <%= p.price%> rub. </div>
            <% end %>
        </div>
        <div class="col-md-2">
<!--             <% @products.each do |p| %> -->
                <div>count: <%=$value%></div>
<!--              # <% end %> -->
        </div>  
</div>

