<h2>"Check items in your cart, please"</h2>

<p><%=@items.inspect%></p>

<!-- <div class="row">
	
		<div class="col-md-2">
			<% @products.each do |p| %>
            	<div>Pizza type: <%= p.title%> </div>
            <% end %>
        </div>
        <div class="col-md-2">
        	<% @products.each do |p| %>
            	<div>price per 1: <%= p.price%> rub. </div>
            <% end %>
        </div>
        <div class="col-md-2">
            <% @products.each do |p| %>
            <div>count: <%=$value%></div>
            <% end %>
        </div>
</div> -->

